
.DS_Store
mapreduce-develop/examples/friends/friends.cpp
mapreduce-develop/examples/friends/friends.vcxproj.filters
mapreduce-develop/examples/friends/friends.vs2012.vcxproj
mapreduce-develop/examples/friends/friends.vs2013.vcxproj
mapreduce-develop/examples/friends/friends.vs2015.vcxproj
mapreduce-develop/examples/prime/prime.cpp
mapreduce-develop/examples/prime/prime.vcproj
mapreduce-develop/examples/prime/prime.vcxproj.filters
mapreduce-develop/examples/prime/prime.vs2012.vcxproj
mapreduce-develop/examples/prime/prime.vs2013.vcxproj
mapreduce-develop/examples/prime/prime.vs2015.vcxproj
mapreduce-develop/examples/wordcount/wordcount.cpp
mapreduce-develop/examples/wordcount/wordcount.h
mapreduce-develop/examples/wordcount/wordcount.vcproj
mapreduce-develop/examples/wordcount/wordcount.vcxproj.filters
mapreduce-develop/examples/wordcount/wordcount.vs2012.vcxproj
mapreduce-develop/examples/wordcount/wordcount.vs2013.vcxproj
mapreduce-develop/examples/wordcount/wordcount.vs2015.vcxproj
mapreduce-develop/include/detail/datasource.hpp
mapreduce-develop/include/detail/hash_partitioner.hpp
mapreduce-develop/include/detail/intermediates.hpp
mapreduce-develop/include/detail/intermediates/in_memory.hpp
mapreduce-develop/include/detail/intermediates/local_disk.hpp
mapreduce-develop/include/detail/job.hpp
mapreduce-develop/include/detail/mergesort.hpp
mapreduce-develop/include/detail/null_combiner.hpp
mapreduce-develop/include/detail/platform.hpp
mapreduce-develop/include/detail/schedule_policy.hpp
mapreduce-develop/include/detail/schedule_policy/cpu_parallel.hpp
mapreduce-develop/include/detail/schedule_policy/sequential.hpp
mapreduce-develop/include/mapreduce.hpp
mapreduce-develop/LICENSE
mapreduce-develop/mapreduce.vcproj
mapreduce-develop/mapreduce.vcxproj.filters
mapreduce-develop/mapreduce.vs2012.sln
mapreduce-develop/mapreduce.vs2012.vcxproj
mapreduce-develop/mapreduce.vs2013.sln
mapreduce-develop/mapreduce.vs2013.vcxproj
mapreduce-develop/mapreduce.vs2015.sln
mapreduce-develop/mapreduce.vs2015.vcxproj
mapreduce-develop/README.md
test/detail/schedule_policy/sequential.hpp
test/detail/schedule_policy/cpu_parallel.hpp
test/detail/schedule_policy.hpp
test/detail/platform.hpp
test/detail/null_combiner.hpp
test/detail/mergesort.hpp
test/detail/job.hpp
test/detail/intermediates/local_disk.hpp
test/detail/intermediates/in_memory.hpp
test/detail/intermediates.hpp
test/detail/hash_partitioner.hpp
test/detail/datasource.hpp
